{% extends 'base.html.twig' %}
{% block title %}
	A Specialized LED Lighting Manufacturer | GreenTronics
{% endblock %}
{% block breadcrumb %}
    <div class="breadcrumb">
		<a href="/" alt="GreenTronics">Home</a> &gt;
		<a href="" alt="GreenTronics">About us</a>
	</div>
{% endblock %}
{% block body %}
	<div class="content">
	<h2>Who are we?</h2>
	<p>
		GreenTronics Limited, we are a company mainly researching and producing LED lights including LED downlight, LED grid light, LED spotlight, T5&amp;T8 LED tube, LED track light, LED panel light, LED strip and LED flood light, etc.
	</p> 
	<h2>Why should you choose us?</h2>    
	<p>
		Our main engineers have 9 years experience in the LED lighting area.  Our LED lights are made of high-end raw materials, such as high quality aluminum alloy, LED chips, power supllies; and with delicate texture surface that make the fixture durable.  </p>
	<p>
		We can meet the demand for  customized products. We are also ODM/OEM supplier for LED lights. Professional service and total solution is for our customers all the time.  </p>  
		<h2>Our Mission</h2>  
	<p>
		To save more energy and protect environment, we’ll never stop researching and improving. More and more customers and cooperators are warmly welcomed to join us.</p>
	</div> 
{% endblock %}
{% block stylesheets %}
    <link href="/css/info.css" rel="stylesheet">
{% endblock %}