{% extends 'base.html.twig' %}
{% block title %}
	A Specialized LED Lighting Manufacturer | GreenTronics
{% endblock %}
{% block breadcrumb %}
	<div class="breadcrumb">
		<a href="/" alt="GreenTronics">Home</a> &gt;
		<a href="" alt="Contact">Contact</a>
	</div>	
{% endblock %}
{% block body %}
	<div class="content">
	<h2>Contact</h2>
	<p>A3 Building,&nbsp;new ara,&nbsp;shilongzai,&nbsp;shiyan, Bao'an,&nbsp;Shenzhen,&nbsp;China.</p>
	<p>Tel:86-755-32865675</p>
	<p>Email:<a href="mailto:info@green-tronics.com">info@green-tronics.com</a></p> 
	</div> 
{% endblock %}
{% block stylesheets %}
    <link href="/css/info.css" rel="stylesheet">
{% endblock %}